doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title
      block title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    script(src='https://cdn.jsdelivr.net/npm/vega@3')
    script(src='https://cdn.jsdelivr.net/npm/vega-lite@2')
    script(src='https://cdn.jsdelivr.net/npm/vega-embed@3')
    block extrahead
body.container
  block content
  block extrascript
